@font-face {
    font-family: 'SF Pro Display';
    src: url('fonts/SFProDisplay-Medium.ttf');
}
@font-face {
    font-family: 'Monument';
    src: url('fonts/MonumentExtended-Regular.otf');
}
body{background-color: rgb(231, 231, 231);}
article{
    color: #771e1e;
    width: 50%;
    height: 450px; margin-left: 50px;
    padding: 20px; padding-bottom: 2px;
    font-family: SF Pro Display;
   
}

nav{
    position:fixed;
    top:0;
    width: 100%;
    display: flex;
    justify-content: space-between;
    z-index: 2;
    font-family: Monument;
}
.menu_logo, 
.menu_items-link{
    padding: 35px;
}
.button{
    padding: 15px 35px;
	border: 2px solid #771e1e;
	background: transparent;
	position: relative;
	cursor: pointer;
    border-radius: 50px;
    transition: .5s;
}
.button:hover{
    color: white;
    background-color: #771e1e;
    transition: .5s;
}
.return a{
    text-decoration: none;
    color:#771e1e;
    font-weight: bold;
    
}
.grostitre{
    font-family: Monument;
    text-transform: uppercase;
}
.objectif{
    padding-left: 30px;}
.part {
    float: right;
    transform: translateY(-200%);
    
}
.part1 {
    float: right;
    transform: translateY(-200%);
}
.part_main{
    display: flex;
   flex-direction :column;
   float:right;
   margin-right: 10%;
}
img {
    border-radius: 50px;
}
.sary{
    display: flex;
}
.sary2{
    display: flex;
}